:root {
  --primary-color: rgb(10, 10, 10);
  --secondary-color: rgb(52, 59, 75);
  --tertiary-color: rgb(32, 42, 65);
  --quaternary-color: rgb(168, 59, 8);
  --quaternary-color2: rgb(151, 109, 89);
  --quinary-color: rgba(170, 19, 19, 0.15);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--secondary-color);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, 'Times New Roman', Times, serif;
}

.wrapper {
  background-color: var(--secondary-color);
  padding-top: 3rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}

.form {
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 1rem;
  column-gap: 3rem;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 60px;
  text-align: center;
}

label {
  font-weight: bold;
}

.character-amount-container {
  display: flex;
  align-items: center;

}

.number-input {
  width: 3rem;
}

header {
  text-align: center;
  padding: 20px;
  padding-top: 0px;
  color: hsl(206, 17%, 28%);
}

.boton {
  grid-column: span 2;
  background-color: var(--quaternary-color);
  border-radius: 25px;
  outline: none; 
  border: 2px solid white;
  color: white;
  padding: .5rem 1rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 1rem;
}

.boton:hover {
  background-color: var(--quaternary-color2);
}

/* .row {
  margin: 20px;
} */

.float-right {
  float: right;
}

.password-display {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: white;
  color: black;
  padding: 1rem;
  height: 2rem;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  word-break: break-all;
  border: 2px dashed #c0c7cf;
  border-radius: .5rem;
  overflow: auto; 
  resize: unset;
} 
  
}

@media (max-width: 690px) {
  .boton {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }

  .password-display {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .boton {
    font-size: 0.8rem;
  }
}
