:root {
  --primary-color: rgb(10, 10, 10);
  --secondary-color: rgb(52, 59, 75);
  --tertiary-color: rgb(32, 42, 65);
  --quaternary-color: rgb(168, 59, 8);
  --quaternary-color2: rgb(151, 109, 89);
  --quinary-color: rgba(170, 19, 19, 0.15);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--secondary-color);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial;
}

.wrapper {
  background-color: var(--secondary-color);
  padding-top: 3rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}

.formz {
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 1rem;
  column-gap: 3rem;
  justify-content: center;
  align-items: center;
}

.char-amount-container {
  display: flex;
  align-items: center;

}

.num-input {
  width: 3rem;
}

header {
  text-align: center;
  padding: 20px;
  padding-top: 0px;
  color: hsl(206, 17%, 28%);
}

.title {
  margin: 60px;
  text-align: center;
}

label {
  font-weight: bold;
}

.card {
  background-color: var(--tertiary-color);
  border-radius: 5px;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  color: hsl(206, 17%, 28%);
  font-size: 18px;
  margin: 30px;
  max-width: 800px;
  padding: 30px 125px;
}

.card-header::after {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

.card-body {
  min-height: 100px;
}

.card-footer {
  text-align: center;
}

.card-footer::before {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

.card-footer::after {
  content: " ";
  display: block;
  clear: both;
}

.boton {
  border: none;
  background-color: var(--quaternary-color);
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
    0px;
  color: hsl(0, 0%, 100%);
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
  outline: none; 
}

.boton:hover {
  background-color: var(--quaternary-color2);
}

.float-right {
  float: right;
}

#passwordDisplay {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 85px;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px dashed #c0c7cf;
  border-radius: 6px;
  resize: none;
  overflow: hidden;
}

@media (max-width: 690px) {
  .boton {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }

  #passwordDisplay {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .boton {
    font-size: 0.8rem;
  }
}
